<div class="dealer_login">
  <form role="form" (submit)="ResetEmail($event, username.value)" *ngIf="!resetPayload">
    <div class="form">
      <h1>ICE Dealers Login</h1>
      <div class="form-group" *ngIf="status">
        <span style="color:red;"><strong>{{status}}</strong></span>
      </div>
      <div class="form-group">
        <label>Username:</label>
        <input type="email" #username class="form-control" id="username" placeholder="Email Address" required>
      </div>
      <div class="form-group">
        <input type="submit" style="color:#fff" class="sign_up_btn radius" value="Reset">
      </div>

      <div class="clearfix"></div>
      <br><br>
    </div>

  </form>

  <form role="form" (submit)="Reset($event,password.value, cpassword.value)" *ngIf="resetPayload">
    <div class="form">
      <h1>ICE Dealers Forgot Password</h1>
      <div class="form-group" *ngIf="status">
        <span style="color:red;"><strong>{{status}}</strong></span>
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" #password class="form-control" id="password" placeholder="Password" required minlength="6">
      </div>
      <div class="form-group">
        <label>Confirm Password:</label>
        <input type="password" #cpassword class="form-control" id="cpassword" placeholder="Confirm Password" required minlength="6">
      </div>
      <div class="form-group">
        <input type="submit" style="color:#fff" class="sign_up_btn radius" value="Reset">
      </div>

      <div class="clearfix"></div>
      <br><br>
    </div>

  </form>
</div>